//====================================================================================================
.footer {

	&__row {

		@media (min-width: $md2+px) {
			display: flex;
		}
	}

	&__content {
		flex: 0 0 100%;
		background: #1E2E36;
	}

	&__container {
		max-width: 1848px;
		margin: 0 auto;
		padding: 0 15px;
		display: flex;
    	height: 100%;
	}

	&__body {
		width: 43%;
		padding: 50px 56px 15px 0px;
		display: flex;
		flex-direction: column;

		@media (max-width: 1500px) {
			width: 50%;
		}

		@media (max-width: 1300px) {
			width: 60%;
			padding: 30px 15px 15px 0;
		}

		@media (max-width: $md2+px) {
			width: 100%;
			padding: 30px 0px 15px;
		}
	}

	&__logo {
		display: inline-block;
		margin: 0px 0px 50px 0px;

		@media (max-width: 1300px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}

		img {
			max-width: 100%;
		}
	}

	&__content-row {
		margin: 0px -45px;
		display: flex;

		@media (max-width: 1300px) {
			margin: 0px -25px;
			justify-content: space-between;
		}

		@media (max-width: 550px) {
			margin: 0;
			flex-direction: column;
		}
	}

	&__content-column {
		padding: 0px 45px;

		@media (max-width: 1300px) {
			padding: 0px 25px;
		}

		@media (max-width: 550px) {
			padding: 0;
		}

		&:last-child {

			@media (max-width: 550px) {				
				display: flex;
				justify-content: space-between;
			}
		}
	}

	&__navs {
		display: flex;

		@media (max-width: 550px) {
			justify-content: space-between;
			margin: 0 0 30px 0;
		}
	}

	&__nav-list {
		margin: 0px 57px 0px 0px;

		&:last-child {
			margin: 0;
		}
	}

	&__nav-item {
		margin: 0px 0px 15px 0px;

		&:last-child {
			margin: 0;
		}
	}

	&__nav-link {
		position: relative;
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
		line-height: 125%;
		text-transform: uppercase;
		color: #fff;
		padding: 0px 0px 0px 20px;
		transition: color .3s;
		
		@media (min-width: $md2+px) {
			&:hover {
				color: #44C697;
			}
		}

		&::before {
			content: "";
			left: 0;
			top: 50%;
			transform: translate(0%, -50%);
			position: absolute;
			width: 15px;
			height: 2px;
			background: #44C697;
		}
	}

	&__info-location {
		position: relative;
		font-size: 18px;
		line-height: 125%;
		color: #FFFFFF;
		margin: 0px 0px 16px 0px;
		padding: 0px 0px 0px 26px;

		&::before {
			content: "\e906";
			font-family: "icons";
			position: absolute;
			left: 0;
		}
	}

	&__info-schedule {
		position: relative;
		font-size: 18px;
		line-height: 125%;
		color: #FFFFFF;
		margin: 0px 0px 16px 0px;
		padding: 0px 0px 0px 26px;

		&::before {
			content: "\e902";
			font-family: "icons";
			position: absolute;
			left: 0;
		}
	}

	&__info-phones {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0px 0px 30px 0px;
		padding: 0px 0px 0px 26px;

		@media (max-width: 550px) {
			margin: 0px 0px 15px 0px;
		}

		&::before {
			content: "";
			height: 23px;
			width: 21px;
			position: absolute;
			background: url("../img/icons/phone--white.svg") no-repeat;
			left: -3px;
			top: 0;
			font-size: 18px;
		}

		a {
			display: inline-flex;
			font-weight: bold;
			font-size: 18px;
			line-height: 125%;
			color: #44C697;
			border-bottom: 1px solid transparent;
			margin: 0px 0px 5px 0px;
			transition: border .3s;

			@media (min-width: $md2+px) {
				&:hover {
					border-color: #44C697;
				}
			}

			&:last-child {
				margin: 0;
			}
		}

	}

	&__socials {
		margin: 0px 0px 90px 0px;

		@media (max-width: 1300px) {
			margin: 0px 0px 60px 0px;
		}

		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}

		.socials__text {
			margin: 0px 0px 15px 0px;

			@media (max-width: 460px) {
				display: none;	
			}
		}
	}

	&__copyright-row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 600px) {
			flex-direction: column;
		}
	}

	&__copyright-column {

	}

	&__copyright-text {
		font-size: 14px;
		line-height: 120%;
		color: #FFFFFF;

		@media (max-width: 600px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__copyright-logo {
	}

	&__bg {
		position: relative;
		flex: 0 0 56.72%;
		transform: translate(-100%, 0);

		@media (max-width: 1500px) {
			flex: 0 0 50%;
		}

		@media (max-width: 1300px) {
			flex: 0 0 40%;
		}

		@media (max-width: $md2+px) {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
//====================================================================================================
