//<MAIN-SCREEN>====================================================================================================
.main-screen {
	position: relative;
	padding: 0px 0px 100px 0px;

	@media (max-width: $md2+px) {
		padding: 0px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 0px 0px 70px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 0px 0px 60px 0px;
	}

	&__slider {
		
	}

	&__slider-item {
	}

	&__thumbs {
		position: absolute;
		top: 0;
		left: 51px;
		text-align: center;
		width: 462px;
		height: 670px;
		background: #FFFFFF;
		padding: 100px 75px;

		@media (max-width: $md1+px) {
			padding: 70px 45px;
			width: 362px;
			height: 570px;
		}

		@media (max-width: $md3+px) {
			position: relative;
			top: auto;
			bottom: 0;
			left: 0;
			max-width: 100%;
			width: 100%;
			height: 100%;
			padding: 15px 15px 15px 25px;
		}

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			content: "";
			width: 15px;
			height: 100%;
			background: #44C697;
			z-index: 2;
		}
	}

	&__thumbs-item {
	}
}
.main-screen-item {
	padding: 0px 0px 41% 0px;
	min-height: 785px;
	overflow: hidden;
	position: relative;

	@media (max-width: $md3+px) {
		min-height: 400px;
	}
	@media (max-width: $md4+px) {
		min-height: 300px;
	}

	&__bg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.thumbs-item {

	&__title {
		font-weight: bold;
		font-size: 64px;
		line-height: 100%;
		color: #1E2E36;
		margin: 0px 0px 50px 0px;

		@media (max-width: $md1+px) {
			font-size: 54px;
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md3+px) {
			font-size: 37px;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md4+px) {
			font-size: 30px;
			margin: 0px 0px 15px 0px;
		}
	}

	&__name {
		font-weight: bold;
		font-size: 36px;
		line-height: 125%;
		color: #1E2E36;
		margin: 0px 0px 10px 0px;

		@media (max-width: $md3+px) {
			font-size: 28px;
		}
		@media (max-width: $md4+px) {
			font-size: 24px;
		}
	}

	&__descr {
		font-size: 36px;
		line-height: 125%;
		text-align: center;
		color: #1E2E36;
		margin: 0px 0px 30px 0px;

		@media (max-width: $md1+px) {
			font-size: 26px;
		}

		@media (max-width: $md3+px) {
			font-size: 28px;
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $md4+px) {
			font-size: 22px;
			margin: 0px 0px 10px 0px;
		}
	}

	&__btn {
		padding: 14px 45px;
		margin: 0px 0px 50px 0px;

		@media (max-width: $md3+px) {
			margin: 0 0 30px 0;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0 20px 0;
		}
	}
}
//</MAIN-SCREEN>========================================================================================================================================================

//<ADVANTAGES>====================================================================================================
.advantages {
	padding: 0px 0px 100px 0px;

	@media (max-width: $md2+px) {
		padding: 0px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 0px 0px 70px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 0px 0px 60px 0px;
	}

	&__title {
		display: flex;
		justify-content: center;
		margin: 0px 0px 52px 0px;

		@media (max-width: $md4+px) {
			margin: 0 0 40px 0;
		}
	}

	&__slider {
		position: relative;
	}

	&__slider-item {
		cursor: pointer;
	}
}
.item-slider {
	margin: 0px 0px 20px 0px;
	padding: 0 0 19.6% 0;
	min-height: 300px;
	overflow: hidden;
	position: relative;

	@media (min-width: $md2+px) {
		&:hover {
			.item-slider__overlay-title {
				margin: 0px 0px 15px 0px;
			}
			.item-slider__overlay-text {
				position: relative;
				top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__overlay {
		position: absolute;
		left: 0px;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 30px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;

		@media (max-width: $md3+px) {
			padding: 15px;
		}
	}

	&__overlay-title {
		display: inline-block;
		font-weight: bold;
		font-size: 36px;
		line-height: 125%;
		color: #FFFFFF;
		border-bottom: 3px solid #44C697;

		@media (max-width: $md2+px) {
			font-size: 28px;
    		margin: 0px 0 15px 0;
		}

		@media (max-width: $md4+px) {
			font-size: 22px;
		}
	}

	&__overlay-text {
		font-size: 18px;
		line-height: 125%;
		color: #FFFFFF;
		

		@media (max-width: $md4+px) {
			font-size: 16px;
		}

		@media (min-width: $md2+px) {
			position: absolute;
			top: 100%;
			opacity: 0;
			visibility: hidden;
			
		}
	}
}
//</ADVANTAGES>====================================================================================================

//<PRODUCTS>====================================================================================================
.products {
	padding: 0px 0px 100px 0px;

	@media (max-width: $md2+px) {
		padding: 0px 0px 70px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 0px 0px 60px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 0px 0px 50px 0px;
	}

	&__title {
		display: flex;
		justify-content: center;
		margin: 0px 0px 52px 0px;

		@media (max-width: $md4+px) {
			margin: 0 0 40px 0;
		}
	}

	&__categories {
		margin: 0px 0px 87px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 60px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 50px 0px;
		}

		@media (max-width: 600px) {
			margin: 0 0 40px 0;
		}
	}

	&__categories-row {
		display: flex;
		justify-content: space-around;

		@media (max-width: $md2+px) {
			margin: 0px -30px;
			overflow: auto;
			justify-content: flex-start;
		}

		@media (max-width: $md4+px) {
			margin: 0px -15px;
		}
	}

	&__categories-column {
		
		@media (max-width: $md2+px) {
			padding: 0px 30px;
		}

		@media (max-width: $md4+px) {
			padding: 0px 15px;
		}
	}

	&__categories-item {
		text-align: center;
		color: #1E2E36;
		transition: color .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #44C697;

				.products__categories-name {
					border-bottom: 3px solid #44C697;
				}
			}
		}

		&._active {
			color: #44C697;

			.products__categories-name {
				border-bottom: 3px solid #44C697;
			}
		}
	}

	&__categories-icon {
		font-size: 100px;
		margin: 0px 0px 5px 0px;

		@media (max-width: 600px) {
			font-size: 80px;
		}
	}

	&__categories-name {
		font-weight: bold;
		font-size: 24px;
		line-height: 125%;
		text-align: center;
		text-transform: uppercase;
		color: #1E2E36;
		border-bottom: 3px solid transparent;
		transition: color .3s, border .3s;

		@media (max-width: 600px) {
			font-size: 22px;
		}
	}

	&__cart-row {
		display: flex;
		flex-wrap: wrap;
		margin: -25px -15px;

		@media (max-width: 600px) {
			margin: -15px;
		}
		@media (max-width: $md4+px) {
			margin: -7.5px;
		}
	}

	&__cart-column {
		flex: 0 1 33.333%;
		padding: 25px 15px;

		@media (max-width: 1200px) {
			flex: 0 1 50%;
		}

		@media (max-width: 600px) {
			flex: 0 1 100%;
			padding: 15px;
		}

		@media (max-width: $md4+px) {
			padding: 7.5px;
		}
	}

	&__cart-btn {
			display: flex;
			justify-content: center;
			margin: 50px 0px 0px 0px;

			@media (max-width: 600px) {
				margin: 30px 0 0 0;
			}

		a {
			padding: 13px 45px;
		}
	}
}
.product-cart {
	position: relative;

	@media (min-width: $md2+px) {
		&:hover {
			.product-cart__footer {
				background: #44C697;
				color: #fff;
			}
			.product-cart__price--sale,
			.product-cart__price-old {
				color: #fff;
			}
		}
	}

	&__labels {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 0;
		display: flex;
   	flex-direction: column;
    	align-items: flex-start;
	}

	&__label {
		padding: 5px 15px;
		font-weight: bold;
		font-size: 18px;
		line-height: 125%;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		color: #FFFFFF;
		margin: 0px 0px 10px 0px;

		&:last-child {
			margin: 0;
		}
	}

	&__label--new {
		background: #1E2E36;
	}

	&__label--sale {
		background: #FF1B1B;
	}

	&__img {
		padding: 0px 0px 52% 0px;
		min-height: 200px;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 15px;
		color: #1E2E36;
		transition: color .3s, background .3s;
	}

	&__name {
		font-weight: bold;
		font-size: 24px;
		line-height: 125%;
		text-transform: uppercase;
		margin: 0px 20px 0px 0px;

		@media (max-width: $md2+px) {
			font-size: 22px;
		}

		@media (max-width: 600px) {
			font-size: 18px;
		}
	}

	&__price {
		font-weight: bold;
		font-size: 24px;
		line-height: 125%;
		text-transform: uppercase;
		white-space: nowrap;

		@media (max-width: $md2+px) {
			font-size: 22px;
		}

		@media (max-width: 600px) {
			font-size: 18px;
		}
	}

	&__price--sale {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		color: #FF1B1B;
		transition: color .3s;
	}

	&__price-old {
		font-size: 18px;
		text-align: center;
		text-decoration-line: line-through;
		color: #BCBDBB;
		margin: 0px 0px 0px 10px;
		transition: color .3s;
	}
}
//</PRODUCTS>========================================================================================================================================================

//<ABOUT-US>========================================================================================================================================================
.about-us {
	overflow: hidden;
	padding: 0px 0px 100px 0px;

	@media (max-width: $md2+px) {
		padding: 0px 0px 70px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 0px 0px 60px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 0px 0px 50px 0px;
	}

	&__title {
		display: flex;
		justify-content: center;
		margin: 0px 0px 52px 0px;

		@media (max-width: $md4+px) {
			margin: 0 0 40px 0;
		}
	}

	&__row {
		

		@media (min-width: $md2+px) {
			display: flex;
		}
	}

	&__content {
		flex: 0 0 100%;
	}

	&__container {
		max-width: 1848px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__body {
		position: relative;
		z-index: 2;
		max-width: 791px;
		padding: 105px 0px;

		@media (max-width: $md2+px) {
			max-width: 100%;
			padding: 0;
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		position: relative;
		background: #FFFFFF;
		padding: 50px 45px 50px 50px;
		font-size: 18px;
		line-height: 125%;
		color: #1E2E36;

		@media (max-width: $md2+px) {
			padding: 30px 25px 30px 30px;
		}

		@media (max-width: $md4+px) {
			padding: 0px 25px 0px 0px;
		}

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 15px;
			border-radius: 0px 3px 3px 0px;
			background: #44C697;
		}

		p {
			margin: 0px 0px 15px 0px;

			&:last-child {
				margin: 0;
			}
		}

		span {
			font-weight: bold;
			text-transform: uppercase;
			color: #44C697;
		}
	}

	&__bg {


		@media (max-width: $md2+px) {
			padding: 0px 0px 35.2% 0px;
			min-height: 300px;
			overflow: hidden;
			position: relative;
		}

		@media (min-width: $md2+px) {
			flex: 0 0 73.3%;
			transform: translate(-100%, 0);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
//</ABOUT-US>========================================================================================================================================================

//<QUESTIONS>========================================================================================================================================================
.questions {
	overflow: hidden;
	padding: 0px 0px 110px 0px;

	@media (max-width: $md2+px) {
		padding: 0px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 0px 0px 70px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 0px 0px 60px 0px;
	}

	&__title {
		display: flex;
		justify-content: center;
		margin: 0px 0px 52px 0px;

		@media (max-width: $md4+px) {
			margin: 0 0 40px 0;
		}
	}

	&__row {


		@media (min-width: $md2+px) {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	&__content {
		flex: 0 0 100%;
	}

	&__container {
		max-width: 1848px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__body {
		position: relative;
		z-index: 2;
		max-width: 528px;
		padding: 105px 0px;
		margin-left: auto;

		@media (max-width: $md2+px) {
			max-width: 100%;
			padding: 0;
			margin: 0px 0px 20px 0px;
		}
	}

	&__body-content {
		position: relative;
		background: #FFFFFF;
		padding: 50px 50px 50px 45px;
		font-size: 18px;
		line-height: 125%;
		color: #1E2E36;

		@media (max-width: $md2+px) {
			padding: 30px 30px 30px 35px;
		}

		@media (max-width: $md4+px) {
			padding: 0px 0px 0px 25px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 15px;
			border-radius: 3px 0px 0px 3px;
			background: #44C697;
		}
	}

	&__body-title {
		font-weight: bold;
		font-size: 36px;
		line-height: 125%;
		color: #1E2E36;
		margin: 0px 0px 30px 0px;

		@media (max-width: $md4+px) {
			font-size: 30px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__body-form {
		margin: 0px 0px 30px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__body-text {
		font-size: 18px;
		line-height: 125%;
		color: #1E2E36;

		a {
			font-weight: bold;
			color: #1E2E36;
			white-space: nowrap;
			transition: color .3s;

			@media (min-width: $md2+px) {
				&:hover {
					color: #44C697;
				}
			}
		}
	}

	&__bg {

		@media (max-width: $md2+px) {
			padding: 0px 0px 35.2% 0px;
			min-height: 300px;
			overflow: hidden;
			position: relative;
		}

		@media (min-width: $md2+px) {
			flex: 0 0 81.34%;
			transform: translate(100%, 0);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
//</QUESTIONS>========================================================================================================================================================
